html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    /*background: #242322;
    color: whitesmoke;*/
}

.weather-description {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.weather-icon img {
    border-radius: 8px;
    /*width: 80px;*/
    aspect-ratio: 1 / 1;
    background-size: cover;
    background: transparent;
    filter: drop-shadow(5px 0 0 white) drop-shadow(0 5px 0 white) drop-shadow(-5px 0 0 white) drop-shadow(0 -5px 0 white) !important;
}
.weather-icon2 img {
    display: flex;
    width: 50px;
    /*margin: 0 10px;*/
    aspect-ratio: 1 / 1;
    background-size: cover;
    background: transparent;
    --stroke-pos: 1px;
    --stroke-neg: -1px;
    --stroke-color: black;
    filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color)) drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color));
}

/**, html {
    background: #242322;
    color: whitesmoke;
}*/

/* change the background color */
/*.navbar-custom {
    background-color: #4433cc;
}*/

/* change the brand and text color */
/*.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #ffcc00;
}*/

/* change the link color */
/*.navbar-custom .navbar-nav .nav-link {
    color: #ffbb00;
}*/

/* change the color of active or hovered links */
/*.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: pink;
}*/


/*.navbar {
    background: #212120 !important;
}
header * {
    color: whitesmoke !important;
}*/